<form {{action 'update' this on="submit"}}>
  {{#if model.isSaving}}
    <p>Saving Record...</p>
  {{/if}}
  <p>
    {{input type="text" value=model.title}}
  </p>

  <p>
    {{textarea value=model.body}}
  </p>

  <button>Update</button>
</form>
