<h2>Stories</h2>

<ul>
  {{#each model as |story|}}
    <li>
      {{#link-to 'story' story}}
        {{story.title}}
      {{/link-to}}
      <button {{action 'delete' story}}>X</button>
    </li>
  {{/each}}
</ul>

<p>{{#link-to 'stories.new'}}Create a new Story{{/link-to}}</p>

{{outlet}}
